<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-item uk-visible@m">
		<a class="uk-logo" href="#">Retrospective tool</a>
	</div>

	<div class="uk-navbar-right">
		{{#each users}}
		<ul class="uk-navbar-nav">
			<li data-user="{{email}}"><a href="#" class="shake-user" data-uk-icon="icon:user" title="{{email}}" data-uk-tooltip style="color: {{color}};"></a></li>
		</ul>
		{{/each}}
	</div>
	<progress id="js-progressbar" class="uk-progress" value="{{counter}}" max="{{sizeHlp users}}" style="position: absolute; margin-top:75px; height:4px;"></progress>
</nav>